
    <div class="row-md-12 col-md-12" style="height: 500px; margin: auto; background:url( 'http://www.trefpunt-didam.nl/wp-content/uploads/2014/07/Grote-Hamburger-Trefpunt-Didam.jpg')">
        <div class="panel pane-primary panel-transparent" style="color:white; background-color:black; opacity: 0.8">
            <div class="pannel-heading">
                <h1> Galvanize Eats </h1>
            </div>
        </div>




        <h2 class="text-center" style="color:white"> gFood - Delivered </h2>
        <div class="col-md-12">
            <p class="text-center">
                <a href="/orders" class="btn btn-primary btn-lg" role="button">Place Order</a>
            </p>
        </div>

    </div>



    <div class="container-fluid">
        <div class="col-md-4">
            <h4>Shop Online</h4>
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <br> Using our convenient web app, you'll get all the power of gFood without having to call your order in. Order in your pajamas, order 24 hours a day, order on Christmas, we're here to serve you.
        </div>

        <div class="col-md-4">
            <h4>Fast Delivery</h4>
            <span class="glyphicon glyphicon-flash"></span>
            <br>You've never seen ordering this quick. Our proprietary ordering rocket ship delivery team allows you to spend less time being hungry, and more time doing what matters most to you. We'd ask what that is, but gFood respects your privacy.
        </div>
        <div class="col-md-4">
            <h4>Great Deals</h4>
            <span class="glyphicon glyphicon-usd"></span>
            <br>Money: You've got it, we want it. But let it never be said we're not incredibly fair! Burger sales? Check. Pizza sales? Check. Burger and pizza sales?? Check, check, check! We seriously can't stop making deals.

        </div>
    </div>
    <div class="panel panel-default col-sm-12" style="background-color:grey; margin-top: 5px">
        <div class="panel-footer" style="background-color:black">
            <p class="text-center" style="color:white">
                <span>
                 <span class="glyphicon glyphicon-copyright-mark" </span> Galvanize, 2015</span>
                <span class="glyphicon glyphicon-tower" <span> Denver, Colorado</span>
        </div>
    </div>
